/*---------------------ПОДКЛЮЧЕНИЕ-ОБНУЛЯЮЩИХ-СТИЛЕЙ-----------------------*/
@import url('./reset.css');
/*----------------------------БАЗОВЫЕ-СТИЛИ--------------------------------*/
html,
body {
   height: 100%;
   line-height: 1;
   font-family: 'Roboto';
   font-size: 16px;
   font-weight: 400;
   color: #53565A;
   background: url('./img/background-image.svg') 600px 218px no-repeat;
}
.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
}
._container {
   max-width: 1424px;
   margin: 0 auto;
   padding: 0px 15px;
}

/*-------------------------------------------------------------------------*/
/*--------------------------------HEADER-----------------------------------*/
.header {
   min-height: 84px;
   margin-bottom: 11px;
   padding: 20px;
}
.header__container {
   display: flex;
   align-items: center;
}
.header__logo {
   margin-right: 20px;
}
.header__search {
   display: flex;
   width: 565px;
   align-items: center;
   position: relative;
   height: 40px;
   border-radius: 4px;
   border: 1px solid #E2E2E2;
   background: linear-gradient(0deg, #F6F6F6 0%, #F6F6F6 100%), #FEFEFE;
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10) inset;
   padding: 10px 10px 10px 15px;
   transition: all 0.3s ease 0s;
}
.header__search:before {
   content: '';
   position: absolute;  
   background: url('./img/icons/search.svg') 0 0 no-repeat;
   width: 12px;
   height: 12px;
   top: 13px;
   left: 15px;
}
.header__input {
   background: inherit;
   color: #000;
   font-weight: 500;
   padding-left: 25px;
}

/*-------------------------------------------------------------------------*/
/*---------------------------------PAGE------------------------------------*/
.page {
  padding: 20px;
}
.menu__list {
   max-width: 750px;
}

/*-------------------------------------------------------------------------*/
/*------------------------------List-Filter---------------------------------*/
.list {
   position: relative;
   margin-bottom: 25px;
}
.list::before{
   content: '';
   position: absolute;
   margin-right: 5px;
   width: 762px;
   height: 1px;
   background-color: #E2E2E2;
}

.list__status {
   display: flex;
   position: relative;
}
.list__item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 175px;
   height: 50px;
   cursor: pointer;
   font-weight: 900;
   opacity: none;
}
.list__item:before {
   content: '';
   position: absolute;
   top: 0;
   width: 175px;
   height: 4px;
   background-color: #2F80ED;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s ease;
}
.list__item_active:before {
   transform: scaleX(1);
}

a.list__link{
   color: inherit;
   opacity: 0.3;
   pointer-events: none;
   transition: opacity 0.5s ease;
}
.list__item_active>.list__link{
   opacity: 1;
}

/*------------------------------Form-Add-Task------------------------------*/
.form__task {
   display: flex;
   flex-direction: column;
   margin-bottom: 23px;
   max-width: 763px;
}
.form__title {
   font-size: 12px;
}
.form__textarea {
   height: 90px;
   border-radius: 4px;
   border: 1px solid #DDDBDA;
   background: #FFF;
   margin-bottom: 21px;
   resize: none;
   padding: 1px;
   transition: all 0.3s ease 0s;
}
.form__textarea:focus {
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.356);
}
.form__button {
   display: flex;
   align-self: end;
   justify-content: center;
   align-items: center;
   width: 191px;
   height: 36px;
   background-color: #2F80ED;
   color: #FFFFFF;
   box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.356);
   transition: all 0.3s ease 0s;
}
.form__button:hover {
   background-color: #2562b2;
}
.form__button:active {
   box-shadow: 0px 0px 0px 0px;
   background-color: rgb(40, 78, 123);
}

/*-------------------------------------------------------------------------*/
/*-----------------------------List-Tasks----------------------------------*/
.task__item {
   display: flex;
   align-items: center;
   position: relative;
   padding: 20px;
   min-height: 109px;
   background-color: white;
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;
   box-shadow: 0px 3px 10px 0px rgba(98, 100, 103, 0.211);
   transition: all 0.3s ease 0s;
}
.task__item:not(:last-child){
   margin-bottom: 17px;
}
.task__item:hover{
   box-shadow: 0px 6px 20px 0px rgba(47, 128, 237, 0.75);   
}
.task__item:hover .task__marked {
   visibility: visible;
}
.task__item:hover .task__unmarked{
   visibility: visible;
}
.task__marked-icon {
   margin: 0px 15px 15px 0px;
}

.task__text {
   flex: 0 1 423px;
   flex-wrap: wrap;
   padding-right: 10px;
}
span.task__text {
   pointer-events: none;
}
.task__text--done {
   text-decoration: line-through;
   opacity: 0.8;
}

.list__task {
   max-width: 763px;
   min-height: 450px;
   margin-bottom: 50px;
}
.task__marked {
   visibility: hidden;
   width: 183px;
   height: 36px;
   background-color: #27AE60;
   text-align: center;
   color: #FFF;
   border-radius: 20px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 114.286%;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   margin-right: 21px;
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.356);
   transition: all 0.3s ease 0s;
}
.task__marked:hover {
   background-color: #1c8347;
}
.task__marked:active {
   box-shadow: 0px 0px 0px 0px;
}

.task__unmarked {
   visibility: hidden;
   width: 183px;
   min-height: 36px;
   background-color: #C4C4C4;
   color: #FFF;
   border-radius: 20px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 114.286%;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   margin-right: 21px;
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.356);
   transition: all 0.3s ease 0s;
}
.task__unmarked:hover {
   background-color: #999797;
}
.task__unmarked:active {
   box-shadow: 0px 0px 0px 0px;
}
.task__delete {
   top: 10px;
   min-width: 40px; 
   min-height: 40px; 
   margin-right: 12px;
   background-color: rgba(196, 196, 196, 0.50);
   border-radius: 20px;
   transition: all 0.3s ease 0s;
}
.task__delete img {
   pointer-events: none;
   vertical-align: middle;
}
.task__delete:hover {
   background-color: #bfbcbc;
}

.empty-list__item {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 763px;
   height: 150px;
   padding: 20px;
   font-size: 18px;
   font-weight: 500;
   background-color: rgba(231, 231, 231, 0.845);
   color: inherit;
   border-radius: 4px;
   box-shadow: 0px 3px 10px 0px rgba(98, 100, 103, 0.211);
}

/*-------------------------------------------------------------------------*/
.none {
   display: none;
}
.hidden {
   visibility: hidden;
}

/*-------------------------------------------------------------------------*/
/*----------------------------Media-queries--------------------------------*/
@media (max-width: 832px) {
  body {
    background-position: 230px 218px;
  }
  .list::before {
    width: 625px;
  }
  .header__search {
    width: 435px;
  }
  .form__task {
    max-width: 630px;
  }
  .empty-list__item {
    max-width: 630px;
  }
  .list__task {
    max-width: 630px;
  }
  .task__delete {
    width: 60px;
    height: 45px;
    border-radius: 35px;
  }
}

@media (max-width: 695px) {
  body {
    background-position: 130px 218px;
  }
  .list::before {
    width: 500px;
  }
  .list__item_active:before {
    width: 175px;
  }
  .header__search {
    width: 310px;
  }
  .form__task {
    max-width: 500px;
  }
  .form__title {
    font-size: 14px;
  }
  .empty-list__item {
    max-width: 500px;
  }
  .list__task {
    max-width: 500px;
  }
  .task__marked {
    font-size: 13px;
  }
  .task__unmarked {
    font-size: 13px;
  }
  .task__delete {
    width: 80px;
    height: 45px;
    border-radius: 40px;
  }
}

@media (max-width: 552px) {
  body {
    background-size: contain;
    background-position: 10px 218px;
  }
  .header {
    margin: 0px;
  }
  .list::before {
    width: 450px;
  }
  .list__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .list__item {
   color: #373a3d;
  }
  .list__item_active {
    width: 550px;
    background-color: #95baeb;
    transition: all 0.3s ease 0s;
  }
  .list__item_active:before {
    display: none;
  }
  .header__search {
    width: 270px;
  }
  .form__button {
    width: 100%;
    margin-top: 10px;
  }
  .form__title {
    font-size: 15px;
  }
  .form__button {
    font-size: 15px;
  }
  .task__marked {
    font-size: 11px;
  }
  .task__unmarked {
    font-size: 11px;
  }
  .task__delete {
    width: 90px;
    height: 45px;
    border-radius: 50px;
  }
}

@media (max-width: 480px) {
  .header__container {
    flex-direction: column;
  }
  .header__logo {
    margin: 0px 0px 10px 0px;  
  }
  .header__search {
    width: 100%;
  }
  .list::before {
    width: 380px;
  }
  .task__marked {
    padding: 5px;
    font-size: 11px;
  }
  .task__unmarked{
    padding: 5px;
    font-size: 11px;
  }
}