/*---------------------ПОДКЛЮЧЕНИЕ-ОБНУЛЯЮЩИХ-СТИЛЕЙ-----------------------*/
@import url('./reset.css');
/*----------------------------БАЗОВЫЕ-СТИЛИ--------------------------------*/
html,
body {
   height: 100%;
   line-height: 1;
   font-family: 'Roboto';
   font-size: 16px;
   font-weight: 400;
   color: #53565A;
   background: url('./img/background-image.svg') 600px 218px no-repeat;
}
.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
}
._container {
   max-width: 1424px;
   margin: 0 auto;
   padding: 0px 15px;
}

/*-------------------------------------------------------------------------*/
/*--------------------------------HEADER-----------------------------------*/
.header {
   min-height: 84px;
   margin-bottom: 11px;
}
.header__container {
   display: flex;
   align-items: center;
   padding: 20px 15px;
}
.header__logo {
   margin-right: 20px;
}
.header__search {
   display: flex;
   flex: 0 1 582px;
   align-items: center;
   position: relative;
   height: 40px;
   border-radius: 4px;
   border: 1px solid #E2E2E2;
   background: linear-gradient(0deg, #F6F6F6 0%, #F6F6F6 100%), #FEFEFE;
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10) inset;
   padding: 10px 10px 10px 15px;
   transition: all 0.3s ease 0s;
}
.header__search:before {
   content: '';
   position: absolute;  
   background: url('./img/icons/search.svg') 0 0 no-repeat;
   width: 12px;
   height: 12px;
   top: 13px;
   left: 15px;
}
.header__input {
   width: 582px;
   background: inherit;
   color: #000;
   font-weight: 500;
   padding-left: 25px;
   /* opacity: 0.8; */
}

/*-------------------------------------------------------------------------*/
/*---------------------------------PAGE------------------------------------*/
.page {
   flex: 1 1 auto;
   margin-bottom: 200px;
}
.menu__list {
   display: flex;
   flex: 0 0 750px;
}

/*-------------------------------------------------------------------------*/
/*------------------------------List-Filter---------------------------------*/
.list {
   position: relative;
}
.list::before{
   content: '';
   position: absolute;
   width: 759px;
   height: 1px;
   background-color: #E2E2E2;
}

.list__status {
   display: flex;
   position: relative;
}
.list__item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 175px;
   height: 50px;
   cursor: pointer;
   font-weight: 900;
   opacity: none;
}
.list__item_active:before {
   content: '';
   position: absolute;
   top: 0;
   width: 175px;
   height: 4px;
   background-color: #2F80ED;
}

a.list__link{
   color: inherit;
   opacity: 0.3;
   pointer-events: none;
}
.list__item_active>.list__link{
   transition: all 0.3s ease 0s;
   opacity: 1;
}

/*------------------------------Form-Add-Task------------------------------*/
.form__task {
   margin-bottom: 23px;
}
.form__title {
   font-size: 12px;
}
.form__textarea {
   width: 759px;
   height: 90px;
   border-radius: 4px;
   border: 1px solid #DDDBDA;
   background: #FFF;
   margin-bottom: 21px;
   resize: none;
   padding: 1px;
   transition: all 0.3s ease 0s;
}
.form__textarea:focus {
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.356);
}
.form__button {
   display: flex;
   align-self: end;
   justify-content: center;
   align-items: center;
   width: 191px;
   height: 36px;
   background-color: #2F80ED;
   color: #FFFFFF;
   box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.356);
   transition: all 0.3s ease 0s;
}
.form__button:hover {
   background-color: #2562b2;
}
.form__button:active {
   box-shadow: 0px 0px 0px 0px;
   background-color: rgb(40, 78, 123);
}

/*-------------------------------------------------------------------------*/
/*-----------------------------List-Tasks----------------------------------*/
.task__item {
   display: flex;
   align-items: baseline;
   position: relative;
   padding: 11px 12px 13px 23px;
   width: 763px;
   height: 109px;
   background-color: white;
   border-radius: 4px;
   overflow: hidden;
   margin-bottom: 17px;
   cursor: pointer;
   box-shadow: 0px 3px 10px 0px rgba(98, 100, 103, 0.211);
   transition: all 0.3s ease 0s;
}
.task__item:last-child{
   margin-bottom: 0;
}
.task__item:hover{
   box-shadow: 0px 6px 20px 0px rgba(47, 128, 237, 0.75);   
}
.task__item:hover .task__marked {
   visibility: visible;
}
.task__item:hover .task__unmarked{
   visibility: visible;
}

.task__marked-icon {
   margin: 14px 10px 0px 0px;
}


.task__text {
   flex: 0 1 423px;
   flex-wrap: wrap;
   padding-right: 10px;
}
span.task__text {
   pointer-events: none;
}
.task__text--done {
   text-decoration: line-through;
   opacity: 0.8;
}

.list__task {
   width: 763px;
}
.task__marked {
   visibility: hidden;
   width: 183px;
   height: 36px;
   background-color: #27AE60;
   text-align: center;
   color: #FFF;
   border-radius: 20px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 114.286%;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   margin-right: 21px;
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.356);
   transition: all 0.3s ease 0s;
}
.task__marked:hover {
   background-color: #1c8347;
}
.task__marked:active {
   box-shadow: 0px 0px 0px 0px;
}

.task__unmarked {
   visibility: hidden;
   width: 183px;
   min-height: 36px;
   background-color: #C4C4C4;
   color: #FFF;
   border-radius: 20px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 114.286%;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   margin-right: 21px;
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.356);
   transition: all 0.3s ease 0s;
}
.task__unmarked:hover {
   background-color: #999797;
}
.task__unmarked:active {
   box-shadow: 0px 0px 0px 0px;
}
.task__delete{
   top: 10px;
   width: 40px; 
   height: 40px; 
   margin-right: 12px;
   background-color: rgba(196, 196, 196, 0.50);
   border-radius: 20px;
   transition: all 0.3s ease 0s;
}
.task__delete img{
   pointer-events: none;
   vertical-align: middle;
}
.task__delete:hover {
   background-color: #bfbcbc;
}
/*-------------------------------------------------------------------------*/
.none {
   display: none;
}
.hidden{
   visibility: hidden;
}
/* .found__task {
   background-color: orange;
   color: white;
} */